
#pay{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.box-price-multi{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    font-size: xx-large;
}
#buy-now{
    padding: 20px;
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
    border-right: none;
    background: green;
    color: white;/* 
    border-color: white; */
    font-size: xx-large;
}
.btn-ml{
    width: 50px;
    height: 50px;
    font-size: xx-large;
    border-radius: 20px;
}
#more{
    margin-right: 10px;
}
#cantidad{
    font-size: xx-large;
}
#text-cant{
    font-size: x-large;
}
#fail{
    display: none;
    flex-direction: column;
    align-items: center;
}